<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="container">

        <nav class='navbar navbar-inverse'>
            <div class='container-fluid'>
                <ul class='nav navbar-nav'>
                    <li><a [routerLink]="['/UserDashboard']">Home</a></li>
                    <li><a [routerLink]="['/UserLogout']">Logout</a></li>
                </ul>
            </div>
        </nav>

        <div class="panel panel-default">
            <div class="panel-heading">Change Password</div>
            <div class="panel-body">
                <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="name">OldPassword</label>
                            <input type="password" class="form-control"
                                   name="OldPassword"
                                   [(ngModel)]="changepasswordmodel.OldPassword"
                                   #refOldPassword="ngModel"
                                   id="OldPassword"
                                   required>
                            <div *ngIf="!refOldPassword.valid  && (refOldPassword.dirty || refOldPassword.touched)"
                                 class="alert alert-danger">
                                <div [hidden]="!refOldPassword.errors.required">
                                    OldPassword is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="name">NewPassword</label>
                            <input required type="password"
                                   class="form-control"
                                   name="NewPassword"
                                   #refNewPassword="ngModel"
                                   validateEqual="confirmPassword" reverse="true"
                                   [(ngModel)]="changepasswordmodel.NewPassword">
                            <div *ngIf="!refNewPassword.valid  && (refNewPassword.dirty || refNewPassword.touched)"
                                 class="alert alert-danger">
                                <div [hidden]="!refNewPassword.errors.required">
                                    Password is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="name">ConfirmPassword</label>
                            <input required type="password"
                                   class="form-control"
                                   name="ConfirmPassword"
                                   #refConfirmPassword="ngModel"
                                   validateEqual="NewPassword"
                                   [(ngModel)]="changepasswordmodel.ConfirmPassword">

                            <div class="alert alert-danger" [hidden]="refConfirmPassword.valid || (refConfirmPassword.pristine)">
                                Password mismatch
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div style="margin-top:10px;" class="col-md-4">
                            <button type="submit" [disabled]="!f.form.valid" class="btn btn-success">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>